<section id="cv" style="margin-top: 130px;">
    <div class="container">
        <mat-card>
            <mat-card-content>CV</mat-card-content>
          </mat-card>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>{{'Education' }}</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>B.Tech - Mechanical Engineering</h5>
                        <em class="font-italic">Sasi Institute Of Technology & Engineering</em>
                        <p class="year p-2 d-flex justify-content-center">2017 - 2021</p>
                    </li>
                    <li>
                        <h5>Intermediate (61%)</h5>
                        <em class="font-italic"> Aditya Jr collage Tadepalligudem</em>
                        <p class="year p-2 d-flex justify-content-center">2015 - 2017</p>
                    </li>
                    <li>
                        <h5>Secondary Education (85%)</h5>
                        <em class="font-italic">Z.P.H.S School Bommidi</em>
                        <p class="year p-2 d-flex justify-content-center">2014 - 2015</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Projects</strong></h4>
                <ul class="timeline1">
                    <li >
                        <h5>ADQ WEBSITE</h5>
                        <!-- <em>ahskbkhbkf</em> -->
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2021 - 2022</p>
                        </div>
                        <p >
                            <!-- <span >
                                <strong>{{'education.mission' }} </strong> <br>
                            </span> -->
                            <strong>Technologies: Angular8, NodeJs</strong> 
                        </p>
                    </li>

                </ul>

                <ul class="timeline1">
                    <li >
                        <h5>FormRobo</h5>
                        <!-- <em>ahskbkhbkf</em> -->
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2022 - 2023</p>
                        </div>
                        <p >
                            <!-- <span >
                                <strong>{{'education.mission' }} </strong> <br>
                            </span> -->
                            <strong>Technologies: ReacctJs, NodeJs</strong> 
                        </p>
                    </li>

                </ul>

                <ul class="timeline2">
                    <li >
                        <h5>Cotton Expert ( MOBILE - WEB)</h5>
                        <!-- <em>ahskbkhbkf</em> -->
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2023</p>
                        </div>
                        <p >
                            <!-- <span >
                                <strong>{{'education.mission' }} </strong> <br>
                            </span> -->
                            <strong>Technologies: React Native, ReactJs, NodeJs</strong> 
                        </p>
                    </li>

                </ul>

            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Languages</strong></h4>
                        <div class="noProgress langue">
                            <span class=""><strong> Telugu</strong> <i class="val">
                                        - Good level</i></span>
                        </div>
                        <div class="noProgress langue">
                            <span class=""><strong> English</strong> <i class="val"> - Good level</i></span>
                        </div>
                    </div>
                </div>
                <!-- <div class="container row">
                    <div class="mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>{{'education.centerOfInterest' }}</strong></h4>
                        <div class="noProgress langue">
                            <span>
                                <fa-icon  [icon]="volleyBallIcon"></fa-icon><strong> {{'education.sport' }}</strong> <i class="val"> Cricket</i>
                            </span>
                        </div>

                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="planeIcon"></fa-icon><strong>Trips With Family & Friends</strong> <i class="val">
                                    </i>
                            </span>
                        </div>
                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="gameIcon"></fa-icon><strong> {{'education.boardGames' }} </strong> <i class="val">
                                    Pubg, Clash of Clanes </i>
                            </span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>