<section id="about" style="margin-top: 40px;">
    <div class="container">
        <mat-card>
            <mat-card-content>About</mat-card-content>
          </mat-card>

         
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="../../assets/Arunproffesional.jpg" width="280" height="320" alt="profil" class="img-fluid" style="border-radius: 10px;">
                </picture>
               
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left" >
                <p style="font-size: 16px;font-weight: 600;">
                    Introduction Of Me
                </p>
                <p>I am a passionate and experienced developer specializing in web and mobile application development. With over 2 years of hands-on experience, I have a strong command of Angular and React frameworks, delivering efficient and robust solutions.</p>
                <p style="font-weight: 600;">My expertise lies in:</p>
                <ul>
                  <li>Developing responsive web applications using Angular and React</li>
                  <li>Building efficient and scalable APIs</li>
                  <li>Creating intuitive and engaging user interfaces</li>
                  <li>Optimizing applications for performance and speed</li>
                  <li>Ensuring cross-browser compatibility and mobile responsiveness</li>
                </ul>
                <p>I am enthusiastic about staying updated with the latest technologies and frameworks, continuously learning and adapting to new challenges. I thrive in collaborative environments, working closely with teams to deliver high-quality products that meet user needs.</p>
                <p>Outside of coding, I enjoy exploring new technologies, contributing to open-source projects, and keeping myself informed about industry trends and best practices.</p>
            </div>
        </div>
    </div>
</section>