<div class="page-content" style="background-color:azure;">
    <app-navbar></app-navbar>
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-cv></app-cv>
    <app-projects></app-projects>
    <app-contact></app-contact>
    <!-- <app-skills></app-skills> -->
    <!-- <app-curriculum-vitae></app-curriculum-vitae> -->
    <!-- <app-projects></app-projects> -->
    <!-- <app-references></app-references> -->
    <!-- <app-contact></app-contact> -->
    <footer class="footer">
        <p> Copyright © 2023 - Arun Kumar Pulapa.</p>
    </footer>
</div>

