
<section  id="contact" class="contact">
    <div class="contact-content" style="background-color: cadetblue;">
      <div class="contact-heading" >
        <h2 style="color: white;">Contact Us</h2>
        <p style="color: white;">If you have any questions or inquiries, feel free to reach out to us.</p>
      </div>
      <div class="contact-form">
        <h2 >Contact Form</h2>
        <form (submit)="submitForm()">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required [(ngModel)]="formData.name">
  
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="formData.email">
  
          <label for="message">Message:</label>
          <textarea id="message" name="message" required [(ngModel)]="formData.message"></textarea>
  
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </section>
  